{% extends 'base.html.twig' %}

{% block title %}WChat{% endblock %}
{% block body %}
    <div class="about_container">
        <img src="https://s3-alpha-sig.figma.com/img/0a56/af8f/bd809678a87f44ca4c88c96b6d0af6b8?Expires=1700438400&Signature=XvGvCb78FNcGW-0ExV9HHc4ShB6ciNmMXjh-QPuu5cMd~UvP66JAvjkaAXs6KnnGaGLJJiSRiW1wpWBv96aTnKD-XVMC-pxlhilIzaZNpH38PI~OUAo5808u9g~Qs8ziISGwRZCIqlWralQQSo5KOtV0jGgZmsq407GN3f42y~5X-B5fB~w0Rf9VippQoyMcx4t5jrrWSjAmY~LRrmtEPLceuBUJz~w~RntRN45LaAIsr3FMXjhrmtlvwUO~dB4YOEyDiPfc8JZVCNxF3yJeqAOykJhmyt0EBzgPaE~05sczbUjX3GZmbu0w1ct1SRlenNb4P7wLetqH1VpRw4l~HQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"  alt="">
        <div class="left_part">
            <div class="logo">
                <h3 class="">WC</h3>
            </div>
        </div>
        <div class="right_part">
            <div class="text_block ">
                <h3 class="title ">
                    What is WChat?
                </h3>
                <p class="text ">
                    WChat is an unofficial website associated with the WSPA School in Lublin, which was created to provide communication between students. Its main function is to provide a convenient and safe environment for communication and information exchange between students studying the same field of study at the school, as well as between students from different fields.
                </p>
            </div>
        </div>
    </div>
    <div class="about_2_container">
        <div class="title">
            Thanks to WChat, you can
        </div>
        <div class="content_list">
            <div class="content">
                <img src="icons/user.svg" alt="" class="icon">
                <div class="text">
                    Create virtual groups and chat rooms to discuss learning issues, solve problems, and share ideas.
                </div>
            </div>
            <div class="content">
                <img src="icons/comments.svg" alt="" class="icon">
                <div class="text">
                    You can actively discuss current topics, share points of view, and help each other understand complex material through text messages and file sharing.
                </div>
            </div>
            <div class="content">
                <img src="icons/folder.svg" alt="" class="icon">
                <div class="text">
                    Store and share teaching materials, workbooks, presentations, and other resources to enhance the learning experience.
                </div>
            </div>
            <div class="content">
                <img src="icons/trending_up.svg" alt="" class="icon">
                <div class="text">
                    Build a network of contacts, collaborate on projects, and solve problems together to develop teamwork and leadership skills.
                </div>
            </div>
            <div class="content">
                <img src="icons/task.svg" alt="" class="icon">
                <div class="text">
                    Plan and discuss school events, celebrate your classmates' achievements, and make decisions about school activities together.
                </div>
            </div>
            <div class="content">
                <img src="icons/notification_active.svg" alt="" class="icon">
                <div class="text">
                    Get instant notifications of important announcements, deadline reminders, and other changes in the learning process to help you plan your time and stay on top of things.
                </div>
            </div>
        </div>
    </div>
    <div class="about_3_container">
        <div class="title">
            What does WChat provide?
        </div>
        <div class="content_list">
            <div class="content">
                <img src="icons/chat.svg" alt="" class="icon">
                <div class="text">
                    The platform allows students to communicate in real time via text messages, which facilitates effective communication and collaboration between students
                </div>
            </div>
            <div class="content">
                <img src="icons/security.svg" alt="" class="icon">
                <div class="text">
                    The platform guarantees the confidentiality and security of student data by providing a secure space for information exchange.
                </div>
            </div>
            <div class="content">
                <img src="icons/user_cog.svg" alt="" class="icon">
                <div class="text">
                    Users can customize their profiles, add information about themselves, their interests and achievements, which helps to improve communication and mutual understanding.
                </div>
            </div>
            <div class="content">
                <img src="icons/info.svg" alt="" class="icon">
                <div class="text">
                    WChat provides access to a variety of educational resources, guides and recommendations, which helps to deepen the learning process and develop students' academic abilities.
                </div>
            </div>
            <div class="content">
                <img src="icons/adaptive_interface_.svg" alt="" class="icon">
                <div class="text">
                    WChat offers a user-friendly, intuitive interface that allows you to easily navigate the site and find the information you need without any extra effort.
                </div>
            </div>
        </div>
    </div>
    <div class="about_4_container">
        <div class="content">
            <div class="title">Interested in the platform?
                Then register or log in if you already have a puw.wspa.pl account</div>
            <div class="buttons">
                <div class="login">LOGIN</div>
                <div class="register">REGISTER</div>
                <div class="login_puw">login with help <span>puw.wspa.pl</span></div>
            </div>
        </div>
    </div>
{% endblock %}
