{% extends 'base.html.twig' %}

{% block title %}WChat{% endblock %}
{% block body %}
    <div class="about w-screen h-screen flex flex-col lg:flex-row">
        <img src="https://s3-alpha-sig.figma.com/img/0a56/af8f/bd809678a87f44ca4c88c96b6d0af6b8?Expires=1700438400&Signature=XvGvCb78FNcGW-0ExV9HHc4ShB6ciNmMXjh-QPuu5cMd~UvP66JAvjkaAXs6KnnGaGLJJiSRiW1wpWBv96aTnKD-XVMC-pxlhilIzaZNpH38PI~OUAo5808u9g~Qs8ziISGwRZCIqlWralQQSo5KOtV0jGgZmsq407GN3f42y~5X-B5fB~w0Rf9VippQoyMcx4t5jrrWSjAmY~LRrmtEPLceuBUJz~w~RntRN45LaAIsr3FMXjhrmtlvwUO~dB4YOEyDiPfc8JZVCNxF3yJeqAOykJhmyt0EBzgPaE~05sczbUjX3GZmbu0w1ct1SRlenNb4P7wLetqH1VpRw4l~HQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            class="absolute brin w-screen h-screen shrink-0 blur-[12.5px]" alt="" style="z-index: -50;">
        <div class=" basis-1/2 mt-[50px] lg:mt-0 left_part bg-[rgba(0,0,0,0.3)] h-full flex flex-col justify-center items-center shrink-0">
            <div class="logo flex justify-center bg-black items-center shrink-0 rounded-[60px]">
                <h3 class="flex p-[100px] font-logo w-full h-full flex-col items-center justify-center shrink-0 text-white text-center text-[13vw] not-italic font-normal leading-[normal]">WC</h3>
            </div>
        </div>
        <div class="right_part basis-1/2 bg-[rgba(0,0,0,0.5)] flex flex-col justify-center shrink-0">
            <div class="text_block flex-col w-full justify-center items-center shrink-0">
                <h3 class="title w-full text-white text-center text-[60px] not-italic font-normal leading-[normal]">
                    What is WChat?
                </h3>
                <p class="text w-full px-[150px] shrink-0 text-white text-center text-[20px] not-italic font-normal leading-[normal]">
                    WChat is an unofficial website associated with the WSPA School in Lublin, which was created to provide communication between students. Its main function is to provide a convenient and safe environment for communication and information exchange between students studying the same field of study at the school, as well as between students from different fields.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
