@tailwind components;
@tailwind utilities;

.header {
    @apply flex bg-wcblue p-3 min-w-full h-[70px] container justify-between fixed;
    z-index: 1000;

    .logo {
        @apply font-logo text-white text-4xl mx-10;
    }

    .buttons {
        @apply flex justify-center items-center text-white text-xl font-bold;

        .user_account_container {
            @apply flex flex-col overflow-hidden py-[0px] h-[50px] w-auto bg-wcblue;
            transition: all .5s ease;
            .user_account {
                @apply cursor-pointer mx-[100px] h-[50px] w-[50px] shrink-0 bg-wcwhite;
                border-radius: 50%;
            }
            .user_container {
                @apply cursor-pointer py-[20px] flex w-auto flex-col justify-center items-center;
                div {
                    @apply text-white py-[10px] hover:text-wcwhite; 
                }
            }
        }

        .about,
        .privacy {
            @apply hidden md:block cursor-pointer hover:underline mx-5;
        }

        .login,
        .register {
            @apply cursor-pointer hidden sm:block text-black transition-colors ease-linear mx-5 py-1 px-5 bg-white hover:bg-wcwhite;
        }

    }
}