{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
{% block body %}
    <h1>Register</h1>
    <div class="container">
        <div class="register">
            <div class="title">Register</div>
            <form action="{{path('app_register_get')}}" method="post">
                {% if error is defined %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                <label for="email">Email:</label>
                <input type="email" required placeholder="example@gmail.com" name="email" id="email">
                <label for="password">Password:</label>
                <input type="password" required name="password" placeholder="**********" id="password">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                  
                <label for="rep_password">Repeat password:</label>
                <input type="password" required name="rep_password" placeholder="**********" id="rep_password">
                <input type="submit" value="Register" disabled class="btn">
            </form>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
{% endblock %}
