{% extends 'base.html.twig' %}

{% block title %}WChat Register Page{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="register">
            <div class="title">REGISTER</div>
            <form action="/register" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <label for="email">Email:</label>
                <input type="email" required name="email" id="email" placeholder="example@gmail.com">
                <label for="name">Name:</label>
                <input type="text" required name="name" id="name" placeholder="UserName">
                <label for="phone_number">Phone number:</label>
                <input type="tel" required name="phone_number" id="phone_number" placeholder="48883727022">
                <label for="password">Password:</label>
                <input type="password" required name="password" id="password" placeholder="*********">
                <label for="rep_password">Repeat password:</label>
                <input type="password" required name="rep_password" id="rep_password" placeholder="*********">
                <div class="help_buttons">
                    <div class="alredy_acc" onclick="window.location.href='/login'">I've already have account</div>
                </div>
                {% if accountExistError is defined %}
                    <div class="error">
                        An account under this email already exists
                    </div>
                {% endif %}
                {% if passwordRepeatError is defined %}
                    <div class="error">
                        The passwords are not the same
                    </div>
                {% endif %}
                {% if lenthPasswordError is defined %}
                    <div class="error">
                        Password must contain at least 8 characters
                    </div>
                {% endif %}
                {% if oneBigWordError is defined %}
                    <div class="error">
                        The password must contain at least one uppercase and one lowercase letter
                    </div>
                {% endif %}
                {% if oneNumberError is defined %}
                    <div class="error">
                        The password must contain at least one number
                    </div>
                {% endif %}
                <input type="submit" value="Regiser">
            </form>
        </div>
    </div>
{% endblock %}
