<div class="modal-window-wrap">
    <div class="modal-window create-chat">
        <div class="modal-window-title">
            <div class="title">Create chat</div>
            <button class="exit" click="console.log('12312')">Exit</button>
        </div>
        <form action="" method="post">
            <label for="_chat_name">Chat name:</label>
            <input type="text" name="_chat_name" id="_chat_name">
            <input type="button" value="Create chat">
        </form>
    </div>
</div>