{% extends 'base.html.twig' %}

{% block title %}WChat{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
{% block body %}
    {% include "chat/_create_chat_modal_window.html.twig" %}
    <div class="container">
        {% include "chat/_available_chats.html.twig" %}
        {% if current_chat != null %}
            {% include "chat/_chat_content.html.twig" %}
            {% include "chat/_chat_files.html.twig" %}
            {% if user_info.getRoleId() >= 2%}
                {% include "chat/_chat_settings.html.twig" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
