{% extends 'base.html.twig' %}

{% block title %}WChat{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="available_chats">
            <div class="title">Available chats</div>
            <div class="chats">
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
                <div class="chat">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <div class="title">Informatyka 2023</div>
                        <div class="last_message">20:20 Matwej: Lorem ips...</div>
                    </div>
                    <div class="notif">+25</div>
                </div>
            </div>
        </div>
        <div class="chat_m">
            <div class="chat_header">
                <div class="title">Informatyka 2023</div>
                <div class="settings">
                    <img src="/icons/settings.svg" alt="">
                </div>
                <div class="files">
                    <img src="/icons/b_folder.svg" alt="">
                </div>
            </div>
            <div class="messages">
                <div class="message">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="mess_cont">
                        <div class="name">Ira</div>
                        <div class="mess">Lorem ipsum dolor sit amet consectetur. Viverra morbi vitae sed maecenas volutpat sodales fermentum. Nibh leo a arcu rutrum porttitor arcu. Egestas amet sapien ipsum laoreet ut sed lectus tristique.</div>
                    </div>
                    <div class="data">20:15</div>
                </div>
                <div class="message">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="mess_cont">
                        <div class="name">Ira</div>
                        <div class="mess">Lorem ipsum dolor sit amet consectetur. Viverra morbi vitae sed maecenas volutpat sodales fermentum. Nibh leo a arcu rutrum porttitor arcu. Egestas amet sapien ipsum laoreet ut sed lectus tristique.</div>
                    </div>
                    <div class="data">20:15</div>
                </div>
                <div class="your_message">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="mess_cont">
                        <div class="name">Matwej</div>
                        <div class="mess">Lorem ipsum dolor sit amet consectetur. Viverra morbi vitae sed maecenas volutpat sodales fermentum. Nibh leo a arcu rutrum porttitor arcu. Egestas amet sapien ipsum laoreet ut sed lectus tristique.Lorem ipsum dolor sit amet consectetur. Viverra morbi vitae sed maecenas volutpat sodales fermentum. Nibh leo a arcu rutrum porttitor arcu. Egestas amet sapien ipsum laoreet ut sed lectus tristique.</div>
                    </div>
                    <div class="data">20:15</div>
                </div>
                <div class="your_message">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="mess_cont">
                        <div class="name">Matwej</div>
                        <div class="mess">Lorem</div>
                    </div>
                    <div class="data">20:15</div>
                </div>
                <div class="your_message">
                    <div class="icon">
                        <img src="" alt="">
                    </div>
                    <div class="mess_cont">
                        <div class="name">Matwej</div>
                        <div class="mess">Lorem ipsum dolor sit amet consectetur. Viverra morbi vitae sed maecenas volutpat sodales fermentum. Nibh leo a arcu rutrum porttitor arcu. Egestas amet sapien ipsum laoreet ut sed lectus tristique.</div>
                    </div>
                    <div class="data">20:15</div>
                </div>
            </div>
            <div class="post_message">
                <div class="post_container">
                    <div class="add_image">
                        <img src="/icons/add_icon.svg" alt="">
                    </div>
                    <input type="text" name="text" placeholder="Your message" id="text">
                    <div class="post_button">
                        <img src="/icons/send.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="f_files">
            <div class="title">Files</div>
            <div class="folders">
                <div class="folder">
                    <div class="f_title">
                        <div class="name">Programming</div>
                        <img src="/icons/bottom_.svg" alt="">
                        <div class="c_files">5 files</div>
                    </div>
                    <div class="f_files">
                        <div class="file">
                            <div class="name">file.txt</div>
                            <div class="download">Download</div>
                        </div>
                        <div class="file">
                            <div class="name">file.txt</div>
                            <div class="download">Download</div>
                        </div>
                        <div class="file">
                            <div class="name">file.txt</div>
                            <div class="download">Download</div>
                        </div>
                        <div class="file">
                            <div class="name">file.txt</div>
                            <div class="download">Download</div>
                        </div>
                        <div class="file">
                            <div class="name">file.txt</div>
                            <div class="download">Download</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="add_folder">Add folder</div>
                <div class="add_file">Add file</div>
                <div class="delete_folder">Delete folder</div>
                <div class="delete_file">Delete file</div>
            </div>
        </div>
    </div>
{% endblock %}
