{% if sChat is defined and roleId > 0 %}
        <div class="container-3">
            <div class="title">Settings</div>
            {% if roleId >= 2 %}
                <div class="chat-settings">
                    <div class="sub-title">Chat Settings</div>
                    <div class="change-name">
                        <button>Change name</button>
                    </div>
                    <div class="change-avatar">
                        <button>Change avatar</button>
                    </div>
                    <div class="delete-chat">
                        <button>Delete chat</button>
                    </div>
                </div>
            {% endif %}
            {% if roleId >= 1 %}
                <div class="chat-manage">
                    <div class="sub-title">Member Settings</div>
                    <div class="add-member">
                        <button>Add member</button>
                    </div>
                    <div class="remove-member">
                        <button>Remove member</button>
                    </div>
                    <div class="set-role">
                        <button>Set role</button>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}