.about_container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .about_container {
    flex-direction: row;
  }
}

.about_container {
  img {
    position: absolute;
  }
  img {
    height: 100vh;
  }
  img {
    width: 100vw;
  }
  img {
    flex-shrink: 0;
  }
  img {
    --tw-blur: blur(12.5px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  img {
    z-index: -50;
  }
  .left_part {
    margin-top: 50px;
  }
  .left_part {
    display: flex;
  }
  .left_part {
    height: 100%;
  }
  .left_part {
    flex-shrink: 0;
  }
  .left_part {
    flex-basis: 50%;
  }
  .left_part {
    flex-direction: column;
  }
  .left_part {
    align-items: center;
  }
  .left_part {
    justify-content: center;
  }
  .left_part {
    background-color: rgba(0,0,0,0.3);
  }
  @media (min-width: 1024px) {
    .left_part {
      margin-top: 0px;
    }
  }
  .left_part {
    .logo {
      display: flex;
    }
    .logo {
      flex-shrink: 0;
    }
    .logo {
      align-items: center;
    }
    .logo {
      justify-content: center;
    }
    .logo {
      border-radius: 60px;
    }
    .logo {
      --tw-bg-opacity: 1;
      background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    }
    .logo {
      h3 {
        display: flex;
      }
      h3 {
        height: 100%;
      }
      h3 {
        width: 100%;
      }
      h3 {
        flex-shrink: 0;
      }
      h3 {
        flex-direction: column;
      }
      h3 {
        align-items: center;
      }
      h3 {
        justify-content: center;
      }
      h3 {
        padding: 100px;
      }
      h3 {
        text-align: center;
      }
      h3 {
        font-family: Leckerli One;
      }
      h3 {
        font-size: 13vw;
      }
      h3 {
        font-weight: 400;
      }
      h3 {
        font-style: normal;
      }
      h3 {
        line-height: normal;
      }
      h3 {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }
  }
  .right_part {
    display: flex;
  }
  .right_part {
    flex-shrink: 0;
  }
  .right_part {
    flex-basis: 50%;
  }
  .right_part {
    flex-direction: column;
  }
  .right_part {
    justify-content: center;
  }
  .right_part {
    background-color: rgba(0,0,0,0.5);
  }
  .right_part {
    div {
      width: 100%;
    }
    div {
      flex-shrink: 0;
    }
    div {
      flex-direction: column;
    }
    div {
      align-items: center;
    }
    div {
      justify-content: center;
    }
    div {
      h3 {
        width: 100%;
      }
      h3 {
        text-align: center;
      }
      h3 {
        font-size: 60px;
      }
      h3 {
        font-weight: 400;
      }
      h3 {
        font-style: normal;
      }
      h3 {
        line-height: normal;
      }
      h3 {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
      p {
        width: 100%;
      }
      p {
        flex-shrink: 0;
      }
      p {
        padding-left: 150px;
        padding-right: 150px;
      }
      p {
        text-align: center;
      }
      p {
        font-size: 20px;
      }
      p {
        font-weight: 400;
      }
      p {
        font-style: normal;
      }
      p {
        line-height: normal;
      }
      p {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }
  }
}

.about_2_container,
.about_3_container {
  display: flex;
  height: 250vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .about_2_container,
.about_3_container {
    height: 150vh;
  }
}

@media (min-width: 1024px) {
  .about_2_container,
.about_3_container {
    height: 100vh;
  }
}

.about_2_container,
.about_3_container {
  .title {
    display: flex;
  }
  .title {
    width: 50%;
  }
  .title {
    align-items: center;
  }
  .title {
    justify-content: center;
  }
  .title {
    text-align: center;
  }
  .title {
    font-size: 60px;
  }
  .title {
    text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
  }
  .content_list {
    display: flex;
  }
  .content_list {
    max-width: 1536px;
  }
  .content_list {
    flex-wrap: wrap;
  }
  .content_list {
    align-items: center;
  }
  .content_list {
    justify-content: center;
  }
  .content_list {
    .content {
      margin: 20px;
    }
    .content {
      display: flex;
    }
    .content {
      height: 300px;
    }
    .content {
      width: 300px;
    }
    .content {
      flex-direction: column;
    }
    .content {
      align-items: center;
    }
    .content {
      justify-content: center;
    }
    .content {
      border-radius: 13.785px;
    }
    .content {
      --tw-bg-opacity: 1;
      background-color: rgb(33 39 56 / var(--tw-bg-opacity));
    }
    .content {
      padding: 30px;
    }
    .content {
      --tw-shadow: 8px 10px 4px 0px rgba(0,0,0,0.25);
      --tw-shadow-colored: 8px 10px 4px 0px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .content {
      cursor: pointer;
      img {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      img {
        height: 50px;
      }
      img {
        width: 50px;
      }
      .text {
        text-align: center;
      }
      .text {
        font-size: 15px;
      }
      .text {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }
  }
}

.about_4_container {
  --tw-bg-opacity: 1;
  background-color: rgb(33 39 56 / var(--tw-bg-opacity));
  .content {
    display: flex;
  }
  .content {
    flex-direction: column;
  }
  .content {
    align-items: center;
  }
  .content {
    justify-content: center;
  }
  .content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .content {
    .title {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .title {
      display: flex;
    }
    .title {
      max-width: 1280px;
    }
    .title {
      flex-direction: column;
    }
    .title {
      justify-content: center;
    }
    .title {
      text-align: center;
    }
    .title {
      font-size: 40px;
    }
    .title {
      font-weight: 400;
    }
    .title {
      font-style: normal;
    }
    .title {
      line-height: normal;
    }
    .title {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .buttons {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .buttons {
      display: flex;
    }
    .buttons {
      max-width: 1536px;
    }
    .buttons {
      flex-basis: 200px;
    }
    .buttons {
      flex-direction: row;
    }
    .buttons {
      flex-wrap: wrap;
    }
    .buttons {
      align-items: center;
    }
    .buttons {
      justify-content: center;
    }
    .buttons {
      .login,
            .register,
            .login_puw {
        margin: 20px;
      }
      .login,
            .register,
            .login_puw {
        display: flex;
      }
      .login,
            .register,
            .login_puw {
        height: 78px;
      }
      .login,
            .register,
            .login_puw {
        width: 100%;
      }
      .login,
            .register,
            .login_puw {
        width: 506px;
      }
      .login,
            .register,
            .login_puw {
        cursor: pointer;
      }
      .login,
            .register,
            .login_puw {
        flex-direction: column;
      }
      .login,
            .register,
            .login_puw {
        justify-content: center;
      }
      .login,
            .register,
            .login_puw {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      }
      .login,
            .register,
            .login_puw {
        padding-left: 25px;
        padding-right: 25px;
      }
      .login,
            .register,
            .login_puw {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .login,
            .register,
            .login_puw {
        text-align: center;
      }
      .login,
            .register,
            .login_puw {
        font-size: 30.118px;
      }
      .login,
            .register,
            .login_puw {
        font-weight: 400;
      }
      .login,
            .register,
            .login_puw {
        font-style: normal;
      }
      .login,
            .register,
            .login_puw {
        line-height: normal;
      }
      .login,
            .register,
            .login_puw {
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
      }
      .login:hover,
            .register:hover,
            .login_puw:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(33 39 56 / var(--tw-bg-opacity));
      }
      .login:hover,
            .register:hover,
            .login_puw:hover {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
      .login,
            .register,
            .login_puw {
        border-width: 1px;
        transition: all .5s ease;
        span {
          text-decoration-line: underline;
        }
      }
      .login:hover,
            .register:hover,
            .login_puw:hover {
        border-radius: 10px;
        color: white;
      }
    }
  }
}