<div class="header flex bg-wcblue p-3 min-w-full container justify-between fixed" style="z-index: 1000;">
    <div class="logo font-logo text-white text-4xl mx-10">WChat</div>
    <div class="buttons flex justify-center items-center text-white text-xl font-bold">
        <div class="about hidden md:block cursor-pointer hover:underline mx-5">About</div>
        <div class="privacy hidden md:block cursor-pointer hover:underline mx-5">Privacy</div>
        <div class="login cursor-pointer hidden sm:block text-black transition-colors duration-250 ease-linear mx-5 py-1 px-5 bg-white hover:bg-wcwhite">LOGIN</div>
        <div class="register cursor-pointer hidden sm:block transition-colors duration-250 ease-linear text-black mx-5 py-1 px-5 bg-white hover:bg-wcwhite">REGISTER</div>
    </div>
</div>